# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/
*.sqlite3

# Environment Variables
.env
.env.*

# Node
node_modules/
dist/
build/

# IDEs
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db